<app-hello name="{{name}} {{version}}"></app-hello>


<button (click)="isDanger=!isDanger">Toggle Danger</button>
<br>
<button (click)="isWarning=!isWarning">Toggle Warning</button>

<p class="box" [class.red-border]="isDanger" [class.yellow-background]="isWarning"></p>

<p class="box" [class]="{'red-border':!isDanger,'yellow-background':!isWarning}"></p>

<p [class]="classes"></p>

<!--style by style name and style unit-->
<p [style.color]="'red'" [style.background-color]="isDanger ?'yellow':'black'" [style.fontSize.rem]="2">
  Start editing to see some magic
</p>

<!--style by object -->
<p [style.--text-color]="isDanger?'red':'blue'" [style]="{color:'var(--text-color)',backgroundColor:'yellow'}">
  Start editing to see some magic
</p>
