<app-hello *ngIf="user.age >=18 ;else under18" [name]="user.name"></app-hello>
<!--<div *ngIf="user.age<18">-->
<!--  You are too old to see this content (1st way)-->
<!--</div>-->
<!--<ng-template [ngIf]="user.age>=18" [ngIfElse]="under18">-->
<!--  <app-hello [name]="user.name"></app-hello>-->
<!--</ng-template>-->
<ng-template #under18>
  <div>
    You are too old to see this content (2nd way)
  </div>
</ng-template>
<button type="button" (click)="user.age= user.age-1"> -</button>
Age:{{user.age}}
<button type="button" (click)="user.age= user.age+1"> +</button>
<!--$implicit: item-->
<!--index thứ tư-->
<!--count-->
<!--first-->
<!--last-->
<!--even-->
<!--odd-->
<ul>
  <li *ngFor="let user of users; index as idx ;count as total; first as first; last as last; even as even; odd as odd">
    <span>{{user.name}} - {{user.id}} - {{user.phone}}</span>
    <br>
    <span>at {{idx}} of total {{total}} <br></span>
    <span *ngIf="even">even number<br></span>
    <span *ngIf="odd">odd number<br></span>
    <span *ngIf="last">last number<br></span>
    <span *ngIf="first">first number<br></span>
    <br>
  </li>
</ul>
