<app-hello name="{{name}} {{version}}"></app-hello>


<button (click)="isDanger=!isDanger">Toggle Danger</button>
<br>
<button (click)="isWarning=!isWarning">Toggle Warning</button>

<p class="box" [class.red-border]="isDanger" [class.yellow-background]="isWarning"></p>

<p class="box" [class]="{'red-border':!isDanger,'yellow-background':!isWarning}"></p>

<p [class]="classes"></p>


<p [style.color]="'red'" [style.background-color]="'yellow'" [style.fontSize.px]="2">
  Start editing to see some magic
</p>
